{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
    %}
<h1 align="center">This is the Report Item Page.</h1>

<div class="container-fluid">

    <div class="row text-center ">

        <div class="col-md-6 col-xs-12">


            <div class="bg-dark border border-dark" style="padding: 0%; margin-left: 0%;">
                <a href="/reportlostitem">report lost item</a>
            </div>

            <div class=" border border-dark">
                Example
            </div>
           
        </div>
    
        <div class="col-md-6 col-xs-12">

            <div class="bg-dark border border-dark" style="padding: 0%; margin-left: 0%;">
                <a  href="/reportfounditem">report found item</a>
            </div>

            <div class=" border border-dark">
                Example
            </div>

        </div>

    </div>

</div>






{% endblock %}
