{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center">Report Found Item.</h1>

    <form method="POST" enctype="multipart/form-data">
      <label for="pic">Please Upload an image of the item you found:</label>
      <br />
        <input type="file" name="pic" />
        <br />
        Where did you found this item?
          <textarea name="name" id="name" class="form-control" placeholder="DTC,Classroom CMX1001,FCM Building"></textarea>
          <br />
        Description
        <textarea name="description" id="description" class="form-control" placeholder="Please provide as many details as you can about the item.,eg Black leather wallet,Playboy Brand "></textarea>
        Status / What did you do with the found item?
        <textarea name="name" id="name" class="form-control" placeholder="DTC,Classroom CMX1001,FCM Building"></textarea>
        <div align="center">
            <button type="submit" class="btn btn-primary">Add Item</button>
          </div>
        </form>
{% endblock %}