{% extends "base.html" %} {% block title %}Bruh{% endblock %} {% block content
%}
    <h1 align="center">This is the User Settings Page.</h1>

<div class="container-fluid">

  <div class="row">

    <div class="col-md-6 col-xs-12">

      <div class="bg-primary border border-dark">
        <h2>My Lost Items</h2>
      </div>


      <div class="border border-dark">
        <ul class="list-group list-group-flush" id="notes">
          {% for lostitem in user.lost_item %}
          <img src="data:image/png;base64,{{lostitem.image_name.decode('utf-8')}}">
          <li class="list-group-item">
          Name
          </br>
            {{lostitem.perru}}  <!-- place lostitem,data here-->
          </br>
            Description
          </br>          
            {{ lostitem.description }}
          </br>
          Date Reported: {{ lostitem.date_lost}}
            <button type="button" class="close" onClick="deleteLostItem({{ lostitem.id }})"> <!-- Ignore this error. It is caused by javascript usage in html which is not supported.-->
              <span aria-hidden="true">&times;</span>
            </button>
          </li>
          
          {% endfor %}
        </ul>
      </div>

  
    </div>



    <div class="col-md-6 col-xs-12 col-sm-12 ">

      <div class="bg-primary border border-dark">
        <h2>My Found Items</h2>
      </div>

      <div class="border border-dark">
        <ul class="list-group list-group-flush" id="notes">
          {% for founditem in user.found_item %}
          <img src="data:image/png;base64,{{founditem.image_file.decode('utf-8')}}">
          <li class="list-group-item">
          Name : {{founditem.name}}  <!-- place lostitem,data here-->
          </br>
            Description : {{ founditem.description }}
        </br>
          Contact Info: {{ founditem.contact}}
        </br>
        Date Reported: {{ founditem.date_found}}
            <button type="button" class="close" onClick="deleteFoundItem({{ founditem.id }})"> <!-- Ignore this error. It is caused by javascript usage in html which is not supported.-->
              <span aria-hidden="true">&times;</span>
            </button>
          </li>
          
          {% endfor %}
        </ul>
      </div>


    </div>


  </div>


</div>

    <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
{% endblock %}
