{% extends "base.html" %} 
{% block title %}
Home
{% endblock %} 
{% block content %}


<div class="rounded-top text-light" style="padding-top: 5px; padding-bottom: 5px; margin-top: 2%; background-color: rgb(46, 58, 77);" >
  
    <div  class="">
        <h1 align="center" style="">🏠 Home</h1>
    </div>
  </div>


<div class="container-fluid rounded-bottom border text-center" style="background-color: white; padding-bottom: 2%; margin-bottom: 2%;">
    <div class="row" >
       

        <div class="col-md-6 col-xs-12 " style="padding-bottom: 2%;">
          <!--Grid for Lost Item-->
    
          <div class="  ">
            <h4  class="border border-dark rounded-top text-light fade-in" style="background-color: rgb(46, 58, 77); padding-bottom: 4px; margin-bottom: 0%; margin-top: 2%;">Lost Items</h4>
          </div>
    
    
          <div class="fade-in" style=" margin-top: 0%;">
            <ul class="list-group list-group-flush" id="notes">
              {% for x in lostitem %}
              <div class="lost-item-container hover-effect rounded border border-dark" style="margin-bottom: 1%; background-color: white;">
              <div class="row" >
              <img src="data:image/png;base64,{{x.image_file.decode('utf-8')}}" class="img-fluid col-md-4" style="width: auto; height: auto;">
              <li class="list-group-item col-md-5">
  
              <b>Item: </b> {{x.name}}  <!-- place lostitem,data here-->
              </br>  
              <b>Location:</b>
              </br>
              {{ x.location }}
            </br>
              <b>Reported By:</b>
              </br>
             {{userdatabase.query.filter_by(id=x.user_id).first().first_name}} 
              </li>

             <!--Button for directing to the next page. Only edit content inside div-->
            <div class="col-md-2 " style="margin-top: 5%; margin-bottom: 5%; z-index: 1;">
              <button class="button-check" onclick="window.location.href='/lostitem/{{x.id}}';">View Item</button>
            </div>
            <!--Button to delete content(FUTURE/NO)-->
              </div>
            </div>
              
              {% endfor %}
            </ul>
          </div>
    
      
        </div>
    
    
    
        <div class="col-md-6 col-xs-12 ">
          <!--Grid for Found Item-->
    
          <div>
            <h4 class="border border-dark rounded-top text-light fade-in" style="background-color: rgb(46, 58, 77); padding-bottom: 4px; margin-bottom: 0%; margin-top: 2%;">Found Items</h4>
          </div>
    
          <div class="fade-in" style="margin-top: 0%;">
            <ul class="list-group list-group-flush" id="notes">
                {% for y in founditem %}
              <div class="lost-item-container hover-effect rounded border border-dark" style="margin-bottom: 1%; background-color: white;">
              <div class="row">
              <img src="data:image/png;base64,{{y.image_file.decode('utf-8')}}" class="img-fluid col-md-4" style="width: auto; height: auto;">
              <li class="list-group-item col-md-5">

              <b>Item: </b> {{y.name}}  <!-- place lostitem,data here-->
              </br>  
              <b>Location:</b>
              </br>
              {{ y.location }}
            </br>
              <b>Reported By:</b>
              </br>
             {{userdatabase.query.filter_by(id=y.user_id).first().first_name}} 
              </li>

            <!--Button for directing to the next page. Only edit content inside div-->
            <div class="col-md-2" style="margin-top: 5%; margin-bottom: 5%; z-index: 1;">
              <button class="button-check" onclick="window.location.href='/founditem/{{y.id}}';">View Item</button>
            </div>
            <!--Button to delete content(FUTURE/NO)-->
            </div>
            </div>
              {% endfor %}
            </ul>
          </div>
        </div>
    
    
        </div>
</div>
{% endblock %}
