{% extends "base.html" %} {% block title %}Report Lost Item{% endblock %} {% block content
  %}

  <div class="rounded-top text-light fade-in" style="padding-top: 5px; padding-bottom: 5px; margin-top: 2%; background-color: rgb(46, 58, 77);" >

    <div  class="">
      <h1 align="center" style="">Report Lost Item </h1>
    </div>
  </div>

<div class="container-fluid rounded-bottom border fade-in" style="background-color: white; margin-bottom: 2%;">

<div>
<form method="POST" enctype="multipart/form-data">
<label for="pic">Upload an image:</label>
<br/>
<input type="file" name="pic" />
<br/><br>

<p>What Item did you lose?</p>
  <textarea rows="1" name="name" id="name" class="form-control" placeholder="Wallet,Hostel Key,etc.."></textarea>
  <br/>

<p>Description</p>
<textarea rows="10" name="description" id="description" class="form-control" placeholder="How,When,Where did you lost your item?"></textarea>
<br/>

<p>Location</p>
      <select name ="location" id="location" class="form-control">
          <option value="" disabled selected>Select the location where you lost the item:</option>
          <option value="DTC Hall">DTC Hall</option>
          <option value="CLC">CLC</option>
          <option value="Library">Library</option>
          <option value="SCC Building">SCC Building</option>
          <option value="GYM/Court Building">GYM/Court Building</option>
          <option value="Learning Point">Learning Point</option>
          <option value="FCI Building">FCI Building</option>
          <option value="FOE Building">FOE Building</option>
          <option value="FCA/FCM Building">FCA/FCM Building</option>
          <option value="FOM Building">FOM Building</option>
          <option value="Haji Tapah">Haji Tapah</option>
          <option value="Deen Cafe">Deen Cafe</option>
          <option value="Starbees">Starbees</option>
          <option value="HB1">HB1</option>
          <option value="HB2">HB2</option>
          <option value="HB3">HB3</option>
          <option value="HB4">HB4</option>
          <option value="Surau Hidayah">Surau Hidayah</option>
      </select><br/>


  <div align="center" style="margin: 2%;">
    <button type="submit" class="btn text-light hover-effect" style="background-color: rgb(46, 58, 77);">Add Item</button>
  </div>
</form>
</div>

<div class="text-muted" style="font-size: small;">
  <h6>Remember The 3W when Reporting!</h6>
  <p>1. 🤔 What? Any details that is special to your item? Say it!</p>
  <p>2. ⏲️ When? At what time do you realise it's gone.</p>
  <p>3. 🤷 Where? Try to remember and state where you last seen the item.</p>

</div>

</div>
{% endblock %}
