{% extends "base.html" %} {% block title %}Report Lost Item{% endblock %} {% block content
  %}

  <div class="rounded-top text-light fade-in block-colour2" style="padding-top: 5px; padding-bottom: 5px; margin-top: 2%;" >

    <div  class="">
      <h1 align="center" style="">Report Lost Item </h1>
    </div>
  </div>

<div class="container-fluid rounded-bottom border fade-in" style="background-color: white; margin-bottom: 2%;">

<div>
<form method="POST" enctype="multipart/form-data">
  <br/>
<label for="pic">Please upload an image of the item you lost if available.</label>
<br/>
<input type="file" name="pic" id="fileInput" accept="image/*, application/pdf" onchange="previewImage()"/>
<br>
<img id="previewImg" src="{{url_for('static', filename='noimageavailable.jpeg')}}" alt="Image preview" style="display: none; max-width: 550px; max-height: 2000px;">
<br/><br>
<p>What Item did you lose?</p>
  <textarea rows="1" name="name" id="name" class="form-control fixed" placeholder="Wallet,Hostel Key,etc.." >{{itemname}}</textarea>
  <br/>

<p>Description</p>
<textarea rows="10" name="description" id="description" class="form-control fixed" placeholder="What does the item look like? Please provide as many details as you can about the item.,eg Black leather wallet,Playboy Brand">{{ itemdescription }}</textarea>
<br/>

<p>Where did you lost or last seen this item?</p>
      <select name ="location" id="location" class="form-control" required>
          <option value="" disabled selected>Select the location where you lost the item:</option>
          <option value="DTC Hall">DTC Hall</option>
          <option value="CLC">CLC</option>
          <option value="Library">Library</option>
          <option value="SSC Building">SCC Building</option>
          <option value="GYM/Court Building">GYM/Court Building</option>
          <option value="Learning Point">Learning Point</option>
          <option value="FCI Building">FCI Building</option>
          <option value="FOE Building">FOE Building</option>
          <option value="FCA/FCM/FAC Building">FCA/FCM Building</option>
          <option value="FOM Building">FOM Building</option>
          <option value="Haji Tapah">Haji Tapah</option>
          <option value="Deen Cafe">Deen Cafe</option>
          <option value="Starbees">Starbees</option>
          <option value="HB1">HB1</option>
          <option value="HB2">HB2</option>
          <option value="HB3">HB3</option>
          <option value="HB4">HB4</option>
          <option value="Surau Hidayah">Surau Hidayah</option>
      </select><br/>


  <div align="center" style="margin: 2%;">
    <button type="submit" class="hover-effect  block-colour2 base-button">Add Item</button>
  </div>
</form>
</div>


</div>

{% endblock %}
